body{
    font-family: cursive;
}

.half-width{
    width: 40% ;
    display: inline-block;
    margin-left: 5%;
    padding-left: 2%;
}

.half-width img{
    width: 100%;
}

h1{
    font-size: 50px;
}

#name{
    color: blue;
    font-size: 50px;
    font-family: cursive;
}

body{
    background-image: url(img/bgimg.png);
    background-repeat: no-repeat;
}

.link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg, lightgreen, darkgreen);
    padding: 10px 20px;
    border-radius: 10px;
    color: black;
    font-weight: 700;
}

#s1{
    margin-bottom: 50px;
}
#s2{
    margin-bottom: 50px;
}
#s3{
    margin-bottom: 50px;
}

#address{
    margin-left: 5px;
    padding-left: 2px;
}

#orange{
    color: orangered;
}

#lightgreen{
    color: lightgreen;
}

#darkgreen{
    color: darkgreen;
}

.address-box{
    box-shadow: 10px 10px 40px black;
    border-radius: 10px;
    height: 60%;
}

#address-box1{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, blue, darkblue);
    border-image-slice: 1;
}

#address-box2{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, red, darkred);
    border-image-slice: 1;
}

footer{
    text-align: center;
}

